data/*
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep

outputs/*
!outputs/figures/
!outputs/figures/.gitkeep

__pycache__/
*.pyc

.venv/
venv/

.streamlit/

*.egg-info/
build/
dist/
